<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>TGA104_G4</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/DBPool</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- 管理員 -->
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.admin.controller.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/back-end/admin/admin.do</url-pattern>
	</servlet-mapping>
	<!-- 管理員登入 -->
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.admin.controller.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/back-end/adminLogin/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PicAllReadServlet</servlet-name>
		<servlet-class>com.productpic.controller.PicAllReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicAllReadServlet</servlet-name>
		<url-pattern>/PicAllReadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PicServlet</servlet-name>
		<servlet-class>com.productpic.controller.PicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicServlet</servlet-name>
		<url-pattern>/PicServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PicReadServlet</servlet-name>
		<servlet-class>com.productpic.controller.PicReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicReadServlet</servlet-name>
		<url-pattern>/PicReadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PicReadOneServlet</servlet-name>
		<servlet-class>com.productpic.controller.PicReadOneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicReadOneServlet</servlet-name>
		<url-pattern>/PicReadOneServlet</url-pattern>
	</servlet-mapping>

	<!-- 以下為Filter的註冊 -->
	<filter>
		<filter-name>adminPrivilegeUpdateFilter</filter-name>
		<filter-class>com.filter.AdminPrivilegeUpdateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminPrivilegeUpdateFilter</filter-name>
		<url-pattern>/back-end/admin/adminPrivilegeUpdate.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>





</web-app>